<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
  <div id="app">
    <!--1.checkbox单选框-->
    <label for="agreement">
      <input type="checkbox" id="agreement" v-model="agree">同意协议
    </label>
    <h2>同意否：{{agree}}</h2>
    <button :disabled="!agree">下一步</button>
    <br>
    <br>
    <br>
    <br>
    <!--2.checkbox多选框-->
    <input type="checkbox" value="Basketball" v-model="hobbies">篮球
    <input type="checkbox" value="Football" v-model="hobbies">足球
    <input type="checkbox" value="PingPong" v-model="hobbies">乒乓球
    <input type="checkbox" value="Badminton" v-model="hobbies">羽毛球
    <h2>你选择的爱好由：{{hobbies}}</h2>
    <br>
    <br>
    <br>
    <br>
    <br>
    <label v-for="item in originHobbies" :for="item">
      <input type="checkbox" id="item" :value="item" v-model="hobbies">{{item}}
    </label>
  </div>

  <script src="../js/vue.js"></script>
  <script>
  const app = new Vue({
    el: "#app",
    data: {
      agree: false,
      hobbies: [],
      originHobbies: ["a", "b", "c", "d", "e", "f", "g"]
    }
  })
  </script>
</body>
</html>
